body
  background-color: #588c7e

.board
  margin-top: 60px
  background-color: #fff
  padding: 15px

.menu
  text-align: center
  width: 80%
  padding: 20px
  font-size: 1.2em
  border: 2px solid black

.box
  outline: 1px solid black

#board
  clear: both

.on
  outline-color: yellow
